@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply my-2 font-body text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading leading-h;
  }

  h3 {
    @apply text-h3;
  }
}

@layer components {
  .section {
    @apply max-w-2xl mx-auto;
  }

  .circle {
    @apply rounded-full bg-gradient-to-br from-slate-600 to-slate-800 shadow-lg transition-[transform,filter] duration-500 flex items-center justify-center hover:scale-125 hover:brightness-125;
  }

  .button {
    @apply p-2 rounded-lg bg-accent2 text-bg font-heading;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .feathered {
    mask-image: radial-gradient(
      rgba(0, 0, 0, 1) 0% rgba(0, 0, 0, 1) 90% rgba(0, 0, 0, 0) 100%
    );
  }
}
